.apply-page {
  font-family: Inter, sans-serif;
  position: relative;
  overflow: hidden;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.top-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.top-nav a.active {
  color: red;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}

.drone-images {
  position: relative;
  height: 20vw;
  z-index: -1;
}

.main-content h2 {
  font-weight: 300;
}

.drone-outline {
  position: absolute;
  top: -60%;
  left: -15%;
  transform: scaleX(-1);
  width: 75%;
}

.red-drone {
  position: absolute;
  top: -10%;
  right: -5%;
  transform: rotate(-5deg);
  max-width: 50%;
}

.apply-header {
  padding-right: 5vw;
}

.apply-to {
  font-size: 5vw;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  margin-top: 40px;
}

.info-section {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.calendar-container {
  flex: 1;
  max-width: 40%;
}

.month-toggle {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.mini-calendar {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mini-calendar h3 {
  font-size: clamp(1em, 2.25vw, 2em);
  text-align: center;
  margin: 10px 0;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendar-header button {
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent !important;
  border: none;
  font-size: clamp(1em, 2.25vw, 2em);
  padding: 0.5rem;
}

.hidden {
  visibility: hidden;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day-header,
.calendar-day {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-day-header {
  font-size: 1.25vw;
}

.calendar-day {
  aspect-ratio: 1;
  font-size: clamp(.7em, 1.75vw, 2em);
}

.calendar-day.highlighted {
  color: white;
  z-index: 1;
  position: relative;
}


.highlighted::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--accent-red);
  z-index: -1;
}

.apply-button {
  margin-top: 10px;
  margin-right: 20px;
}

.session-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.session {
  display: flex;
  flex-direction: row;
}

.session div {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.session h3 {
  font-size: 48px;
  color: red;
  margin: 0;
}

.session h4 {
  font-size: 24px;
  margin: 0;
}

.session p {
  margin: 5px 0;
}

.application-text {
  margin-bottom: 20px;
}

.grid-background {
  position: absolute;
  bottom: -100px;
  right: -20%;
  width: 100%;
  z-index: 0;
  opacity: 0.5;
  transform: scaleX(-1);
}

.application {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding: 20px;
  }

  .mini-calendar {
    padding: 0;
    margin: 10px auto;
    width: min(480px, 100%)
  }

  .calendar-container {
    max-width: 100%;
  }

  .calendar-day-header {
    font-size: min(1em, 3vw);
  }

  .info-section {
    flex-direction: column;
  }

  .session-info {
    flex-direction: row;
  }

  .application {
    width: 100%;
  }

  .session {
    flex-direction: column;
  }
}