.apply-page {
  font-family: Inter, sans-serif;
  position: relative;
  overflow: hidden;
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.top-nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.top-nav a.active {
  color: red;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px;
  position: relative;
  z-index: 1;
}

.drone-images {
  position: relative;
  height: 200px;
}

.drone-outline,
.red-drone {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.apply-to {
  font-size: 24px;
  margin-bottom: 0;
}

.cuad {
  font-size: 72px;
  margin-top: 0;
  color: black;
}

.cuad::first-letter {
  color: red;
}

h2 {
  font-size: 36px;
  margin-top: 40px;
}

.info-section {
  display: flex;
  gap: 80px;
  margin-top: 20px;
}

.calendar-container {
  flex: 1;
  max-width: 50%;
}

.month-toggle {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.mini-calendar {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day-header,
.calendar-day {
  text-align: center;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-day {
  aspect-ratio: 1;
  font-size: clamp(1.25em, 2vw, 2em);
}

.calendar-day.highlighted {
  color: white;
  z-index: 1;
  position: relative;
}


.highlighted::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--accent-red);
  z-index: -1;
}

.session-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.session {
  margin-bottom: 20px;
}

.session h3 {
  font-size: 48px;
  color: red;
  margin: 0;
}

.session h4 {
  font-size: 24px;
  margin: 0;
}

.session p {
  margin: 5px 0;
}

.application-text {
  margin-bottom: 20px;
}

.grid-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding: 20px;
  }

  .calendar-container {
    max-width: 100%;
  }

  .info-section {
    flex-direction: column;
  }

  .session-info {
    flex-direction: row;
  }
}