.sponsor-header {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.sponsor-header img {
    display: block;
}

.sponsor-header h1 {
    font-family: 'Helvetica', 'Intel', 'sans-serif';
    position: absolute;
    bottom: 0;
    right: 3vw;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 8vw;
    line-height: 68%;
}

.sponsor-body {
    display: flex;
    flex-direction: row;
    margin: 2vw;
    min-height: 40vw;
}

.sponsor-text {
    padding-left: 8vw;
    width: 60%;
}

.sponsor-pdf {
    width: 40%;
    position: relative;
}

.sponsor-doc {
    width: auto;
    max-height: 30vw;
    position: absolute;
    top: 10%;
    right: 15%;
}

.back {
    transform: rotate(-10deg) translate(-20%, 0);
    z-index: 0;
}

.front {
    z-index: 1;
}