@import './styles.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.active-drones {
    display: flex;
    flex-direction: row;
}

.drones {
    flex-direction: column;
    padding: 0;
}

.dot-lines {
    padding-top: calc(20px + 1.15vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    padding-left: 2vw;
    padding-bottom: 20px;
}

.line {
    width: .25vw;
    /* box-height text-height text-padding box-padding */
    height: calc(40vw + 2vw + 2vw + 2*20px);
    background-color: var(--logo-red);
}

.dot {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: var(--logo-red);
}

.small {
    width: .5vw;
    height: .5vw;
}

.title-card {
    font-family: 'Lexend Deca', sans-serif;
    height: 60vw;
}

.title-card img {
    position: absolute;
    height: auto;
}

.title-text {
    transform: translate(5%, 160%);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 80vw;
}

.title-text img {
    margin-left: 2vw;
    width: 15vw;
}

.title-text h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 18vw;
    margin: 0;
    text-transform: uppercase;
}

#graveyard {
    font-family: 'Inter', 'sans serif';
    font-weight: 300;
    font-size: 4vw;
    padding-left: 45px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column-reverse !important;
    }

    .description {
        width: 100% !important;
    }

    .description p {
        margin-top: 10px !important;
    }

    .stat-item p {
        margin-top: 2px !important;
        font-size: .75em !important;
    }

    .stat-item h1 {
        font-size: 16vw !important;
    }

    .images {
        height: 70vw !important;
        width: 100% !important;
    }

    #graveyard {
        text-align: center;
        font-size: 8vw !important;
    }

    .graveyard-section {
        flex-direction: column-reverse !important;
    }

    .graveyard-section .description {
        padding: 10px 0;
    }
}