.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left h1 {
 font-weight: 800;
}
.footer-left h1 {
    font-weight: 800;
    margin-bottom: 0; /* Remove bottom margin from the header */
  }
  
  .footer-left p {
    margin-top: 5px; /* Add a small top margin to the paragraph */
  }
h5 {
    padding: -10%;
}

.footer-left p,
.footer-right p {
    margin: 0px 0;
}

.footer-right {
    align-items: flex-end;
    text-align: right;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img {
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover img {
    filter: brightness(0.7);
    transform: scale(1.1);
}