@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

.header {
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5vw;
  font-family: 'Lexend Deca', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav a {
  font-size: max(1.5vw, .5em);
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}

a.active {
  color: var(--accent-red);
}