:root {
    --accent-red: #E31E24;
    --logo-red: #B42025;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: black;
    word-break: break-word;
}

.link {
    color: var(--logo-red);
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--accent-red);
}