@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
  --accent-red: #E31E24;
  --logo-red: #B42025;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica';
  word-break: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: var(--logo-red);
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--accent-red);
}

button {
  background-color: var(--logo-red);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  font-family: 'Inter', 'sans-serif';
}

button:hover {
  background-color: var(--accent-red);
}

img {
  width: 100%;
}